.woman-jacket img{
    width: 290px;
    height: 320px;
    padding: 10px;
}
.mobile-jacket img{
    width: 250px;
    height: 250px;
    padding: 0px;
}
.shop img{
    width: 78px;
    height: 82px;
}
.shopping-img{
    width: 599px;
    height: 354px;
}